 
@font-face {
    font-family: "ShadowsIntoLight";
    src: url("font/ShadowsIntoLight-Regular.ttf");
}

 .form-label{
    font-family: ShadowsIntoLight;
    font-size: 30px;
    font-weight: bolder;
    
 }
 .form-control{
    opacity: 75%;
    font-weight: bolder;
   
 }

 .signInBox{
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: darkred;
 }